
.table-container {
  padding: 0 10%;
  margin: 40px auto 0px;
}

.heading {
  font-size: 0 10%;
  text-align: center;
  color: white;
  margin-bottom: 40px;
}
.table {
  width: 100%;
  border-collapse: collapse;
}
.table thead {
  background-color: rgb(94, 153, 231);
}
.table thead tr th {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.35px;
  color: rgb(250, 253, 253);
  opacity: 1;
  padding: 12px;
  vertical-align: top;
  border: 2px solid rgb(30, 30, 31);
}
.table tbody tr td {
  font-size: 14px;
  letter-spacing: 0.35px;
  font-weight: normal;
  color: rgb(17, 17, 17);
  background-color: cadetblue;
  padding: 8px;
  text-align: center;
  border: 1px solid rgb(30, 30, 31);
}

.table .text .table tbody tr td {
  font-size: 14px;
  letter-spacing: 0.35px;
  font-weight: normal;
  color: tan;
  background-color: tomato;
  padding: 8px;
  text-align: center;
  border: 1px solid teal;
}
.table .text_open {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.35px;
  color: rgb(23, 26, 26);
}
.table tbody tr td .btn {
  width: 130px;
  text-decoration: none;
  line-height: 35px;
  display: inline-block;
  background-color: wheat;
  font-weight: medium;
  color: blueviolet;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  font-size: 14px;
  opacity: 1;
}
.table-container .add-btn {
  position: absolute;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}

/*responsive*/
input[type="checkbox"] {
  display: none;
}
/* humburger menu*/
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}
/* Querie media */
@media screen and (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    /* background-color: rgb(91, 175, 175); */
    right: -150px;
    left: 0;
    text-align: center;
    padding: 16px 0;
    margin-left: -60px;
  }
  .menu li:hover {
    display: inline-block;
    background-color: #4c9e9e;
    transition: 0.5s ease;
  }
  .menu li + li {
    margin-top: 12px;
  }
  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }
  .hamburger {
    position: absolute;
    display: block;
    font-size: 12px;
    margin-left: -90px;
  }

  .logo {
    font-size: 25px;
    font-weight: bold;
    color: rgb(20, 20, 20);
    padding-top: 25px;
    padding-left: 10px;
  }
}

@media (max-width: 768px) {
  .table thead {
    display: none;
  }
  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-bottom: 15px;
  }
  .table tbody tr td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }
  .table td:before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
  }
  .table-container {
    padding: 0 10%;
    margin: 120px auto 0px;
  }
}
