@import url("https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,600&family=Roboto+Slab:wght@300;400;500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #135780;
  background-color: #3612d6;
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(3, 107, 133);
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* navigation bars */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: #135780;
  background-color: #3612d6;
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
}
.nav-links a {
  color: #fff;
}
/* logo*/
.logo {
  font-size: 32px;
  font-weight: bold;
  color: rgb(20, 20, 20);
  padding-right: 15px;
  padding-left: 100px;
  padding-top: 25px;

  /* Some animation to the header logo */
  text-shadow: 0 0 50px rgb(187, 232, 238), 0 0 50px rgb(129, 130, 180),
    0 0 50px rgb(252, 0, 126), 0 0 50px rgba(126, 252, 0, 0.753),
    0 0 50px rgb(252, 248, 0);
  animation: animate 5s linear infinite;

  @keyframes: animate {
    0% {
      filter: hue-rotate(0deg);
    }
    filter: hue-rotate(360deg);
  }
}

/* Body */
.flex-container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-container .para {
  padding: 10px 20px;
}
.para h2 {
  position: absolute;
  line-height: 36px;
  margin-top: 9px;
  margin-left: 523px;
}
.para .back {
  color: rgb(104, 97, 97);
  margin-left: 640px;
}
.para .back:hover {
  color: red;
  cursor: pointer;
}

.para h2 span {
  color: red;
  margin-left: -200px;
  font-size: 20px;
}
.flex-container > div {
  background-color: #f1f1f1;
  width: 900px;
  margin: 20px;
  text-align: center;
  line-height: 16px;
  font-size: 15px;
}
.flex-container .image {
  background: url(/img/img-blog/data-again.jpg) no-repeat;
  width: 160px;
  height: 160px;
  border: 1px solid rgb(104, 97, 97);
  border-end-end-radius: 15px;
}

.container {
  width: 600px;
  border: 2px solid #333;
  padding: 15px 10px;
}
.read-comment {
  display: flex;
  background-color: #a7adbd;
  flex-direction: column;
  margin-top: 15px;
  width: 550px;
  padding: 15px 10px;
  gap: 15px;
}
.read-comment .title {
  font-size: 20px;
  margin-bottom: 15px;
}
.read-comment .title:hover {
  color: red;
}
.read-comment p {
  gap: 12px;
}
.read-comment .date {
  color: red;
  font-size: 12px;
}

.container h2 {
  text-align: center;
  margin-bottom: 15px;
}
.container textarea {
  height: 20px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #aaa;
  background-color: transparent;
  margin-bottom: 10px;
  resize: none;
  outline: none;
  transition: 0.5s;
}

.container input[type="submit"],
button {
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
.container input[type="submit"]:hover,
button:hover {
  background-color: rgb(13, 142, 202);
}
.container button:hover {
  background-color: rgb(13, 142, 202);
}
.container input[type="submit"] {
  color: rgb(7, 7, 7);
  background-color: #a7adbd;
}
.container button {
  color: rgb(7, 7, 7);
  background-color: transparent;
}

/* navitation menu */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}
.menu li:hover {
  background-color: #1a7272;
  border-radius: 5px;
  transition: 0.3s ease;
}
.menu li {
  padding: 5px 14px;
}

input[type="checkbox"] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

/* max-width 768 */

@media screen and  (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    left: 0;
    text-align: center;
    padding: 10px 0;
    margin-left: 250px;
    font-size: 18px;
    line-height: 5px;
  }
  .menu li:hover {
    display: inline-block;
    background-color: #4c9e9e;
    transition: 0.3s ease;
  }
  .menu li + li {
    margin-top: 10px;
    /* margin-left: -300px; */
  }
  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }
  .hamburger {
    position: absolute;
    display: block;
    margin-left: -350px;
    font-size: 25px;

    z-index: 10;
     }

  .logo {
    font-size: 35px;
    font-weight: bold;
    color: rgb(20, 20, 20);
    padding-right: 15px;
    padding-left: 20px;
    padding-top: 10px;
  }

  .flex-container {
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
  }

  .flex-container .para {
    padding: 10px 20px;
    width: 90%;
  }
  .para h2 {
    position: absolute;
    line-height: 26px;
    margin-top: 180px;
    margin-left: 200px;
    font-size: 12px;
  }
  .para h2 span {
    font-size: 15px;
  }
  .para .back {
    margin-left: 640px;
  }
  .para p {
    margin-top: 45px;
  }
  /* comments */
  .flex-container .read-comment {
    width: 90%;
  }
  .flex-container .container {
    width: 90%;
    border: 2px solid #333;
    padding: 15px 10px;
  }
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(3, 107, 133);
  }
}


/* 820 */


@media screen and  (width: 820px) {
  .menu {
    display: none;
    position: absolute;
    left: 0;
    text-align: center;
    padding: 30px 0;
    margin-left: 680px;
    font-size: 22px;
    line-height: 10px;
  }
  .menu li:hover {
    display: inline-block;
    background-color: #4c9e9e;
    transition: 0.3s ease;
  }
  .menu li + li {
    margin-top: 10px;
    /* margin-left: -300px; */
  }
  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }
  .hamburger {
    position: absolute;
    display: block;
    margin-left: -40px;
    font-size: 35px;

    z-index: 10;
     }

  .logo {
    font-size: 35px;
    font-weight: bold;
    color: rgb(20, 20, 20);
    padding-right: 15px;
    padding-left: 20px;
    padding-top: 10px;
  }

  .flex-container {
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 760px;
  }

  .flex-container .para {
    padding: 10px 20px;
    width: 90%;
  }
  .para h2 {
    position: absolute;
    line-height: 26px;
    margin-top: 180px;
    margin-left: 200px;
    font-size: 12px;
  }
  .para h2 span {
    font-size: 15px;
  }
  .para .back {
    margin-left: 640px;
  }
  .para p {
    margin-top: 45px;
  }
  /* comments */
  .flex-container .read-comment {
    width: 90%;
  }
  .flex-container .container {
    width: 90%;
    border: 2px solid #333;
    padding: 15px 10px;
  }
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(3, 107, 133);
  }
}
