@import url("https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,600&family=Roboto+Slab:wght@300;400;500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #135780;
  background-color: #3612d6;
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
  line-height: normal;
}
.body{
  text-align: justify;
  line-height: 2;
  border-radius: 12px;
  
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(3, 107, 133);
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/* navigation bars */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: #135780;
  background-color: #3612d6;
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
}
.nav-links a {
  color: #fff;
}
/* logo*/
.logo {
  font-size: 32px;
  font-weight: bold;
  color: rgb(20, 20, 20);
  padding-right: 15px;
  padding-left: 100px;
  padding-top: 25px;

  /* Some animation to the header logo */
  text-shadow: 0 0 50px rgb(187, 232, 238), 0 0 50px rgb(129, 130, 180),
    0 0 50px rgb(252, 0, 126), 0 0 50px rgba(126, 252, 0, 0.753),
    0 0 50px rgb(252, 248, 0);
  animation: animate 5s linear infinite;

  @keyframes: animate {
    0% {
      filter: hue-rotate(0deg);
    }
    filter: hue-rotate(360deg);
  }
}

/* Body */
.flex-container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-container .para {
  padding: 10px 20px;
}
.flex-container .para #title{
  /* margin-top: 120px; */
}

.para h2 {
  position: absolute;
  line-height: 36px;
  margin-top: 100px;
  margin-left: 250px;
}
.para #img{
  margin-left: -550px;
  border-radius: 0 50% 50% 50%;
}

.para .back {
  color: rgb(218, 36, 36);
  margin-left: 640px;
}
.para .back:hover {
  color: rgb(5, 209, 216);
  cursor: pointer;
}
.comment-avatar {
  border-radius: 50%;
  height: 48px;
  margin-right: 1rem;
  width: 48px;
}
#block{
  border-radius: 25px;
  background-color: #135780;
  padding: 20px;
  width: 95%;
  height: auto;
  margin: 15px;
}
.likes, .dislikes{
  color: rgb(4, 209, 236);
  display: flex;

  margin-left: 400px;
  cursor: pointer;
  text-shadow: 5px 8px 15px #2a93b6;
  transition: .5s;
}
.likes:hover{
  color: #2a93b6;
  transform: scale(1.2);
}
.dislikes:hover{
  color: #2a93b6;
  transform: scale(1.2);
}
#dislikeCount{
   background: #135780;
}
#likeCount{
  background: #135780;
}
.flex-likes{
  display: flex;
  margin: 0;
  margin-left: -350px;
}
.value{
  border: none;
  outline: none;
  text-align: center;
  background-color: none;
  font-size: 12px;
  /* font-weight: 50;/ */
  pointer-events: none;
}

#comment_date{
  display: flex;
  font-size: 12px;
  color: rgb(99, 7, 7);
}
.comment-body{
  display: flex;
  font-size: 15px;
}
.comment-author{
  display: flex;
  
}

#input2, #input1 {
  width: 50px;
  border: none;
  color: rgb(3, 49, 47);
  font-size: 15px;
  margin: 0 10px;
  background-color: #f1f1f1;
  pointer-events: none;
}
button {
  color: rgb(48, 45, 44);
  background-color: none;
  border: none;
  font-size: 20px;
  padding: 0 15;
  margin: 10px 0;
  cursor: pointer;
}
button:active {
  color: rgb(18, 175, 136);
  transform: scale(1.2);
}

.para h2 span {
  color: rgb(250, 0, 0);
  margin-left: -200px;
  font-size: 20px;
}
.flex-container > div {
  background-color: #f1f1f1;
  width: 900px;
  margin: 20px;
  text-align: center;
  line-height: 16px;
  font-size: 15px;
}
.flex-container.para .image {
  width: 150px;
  height: 150px;
  border: 1px solid rgb(104, 97, 97);
  border-end-end-radius: 15px;
  background-color: red;
  width: 350px;
  
}

.container {
  width: 600px;
  border: 2px solid #333;
  padding: 15px 10px;
}
#list-comment {
  display: flex;
  background-color: #f1f1f1;
  flex-direction: column;
  margin-top: 15px;
  width: 900px;
  padding: 15px 10px;
  gap: 15px;
}
#list-comment .title {
  font-size: 20px;
  margin-bottom: 15px;
}
#list-comment .title:hover {
  color: red;
}
#list-comment p {
  gap: 12px;
}
#list-comment .date {
  color: red;
  font-size: 12px;
}

#list-comment h2 {
  text-align: center;
  margin-bottom: 5px;
}
.container textarea {
  height: 20px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #aaa;
  background-color: transparent;
  margin-bottom: 10px;
  resize: none;
  outline: none;
  transition: 0.5s;
}
#name-input{
  height: 20px;
  width: 50%;
  border: none;
  border-bottom: 2px solid #aaa;
  background-color: transparent;
  margin-bottom: 10px;
  resize: none;
  outline: none;
  transition: 0.5s;

}

.container .names{
  padding: 10px 5px;
  background-color: #a7adbd;
  
}

.container input[type="submit"],
button {
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
.container input[type="submit"]:hover,
button:hover {
  background-color: rgb(13, 142, 202);
}
.container button:hover {
  background-color: rgb(13, 142, 202);
}
.container input[type="submit"] {
  color: rgb(7, 7, 7);
  background-color: #a7adbd;
}
.container button {
  color: rgb(7, 7, 7);
  background-color: transparent;
}

/* navitation menu */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}
.menu li:hover {
  background-color: #1a7272;
  border-radius: 5px;
  transition: 0.3s ease;
}
.menu li {
  padding: 5px 14px;
}

input[type="checkbox"] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

/* max-width 768 */

@media screen and  (max-width: 768px) {
  .menu {
    /* display: none; */
    /* position: absolute; */
    /* left: 0; */
    /* text-align: center; */
    /* padding: 10px 0; */
    /* margin-left: 250px; */
    /* font-size: 18px; */
    
    display: none;
    position: absolute;
    background-color: teal;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }
  .menu li:hover {
    display: inline-block;
    background-color: #4c9e9e;
    transition: 0.3s ease;
  }
  .menu li + li {
    margin-top: 10px;
    /* margin-left: -300px; */
  }
  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }
  .hamburger {
    position: absolute;
    display: block;
    margin-left: -20px;
    font-size: 25px;

    z-index: 10;
     }
     

  .logo {
    font-size: 35px;
    font-weight: bold;
    color: rgb(20, 20, 20);
    padding-right: 15px;
    padding-left: 20px;
    padding-top: 10px;
  }
 

  .flex-container {
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
  
  }

  .flex-container .para {
    padding: 10px 20px;
    width: 90%;
    /* background-color: red; */
  }
 
  .para h2 {
    position: absolute;
    line-height: 26px;
    margin-top: 80px;
    margin-left: 200px;
    font-size: 12px;
  }
  .para h2 span {
    font-size: 15px;
  }
 .flex-likes{
   display: block;
 } 
 .para #img{
   width: 200px;
   border-radius: 50% 20% / 10% 40%;
   margin-left: -100px;
 }
 
  .para .author{
    margin-top: 60px;
   margin-left: -150px;
  }
  .para .back {
    color: rgb(218, 36, 36);
    margin-left: 240px;
  }

  .para p {
    margin-top: 45px;
  }
  /* comments */
  .flex-container .read-comment {
    width: 90%;
  }
  .flex-container .container {
    width: 90%;
    border: 2px solid #333;
    padding: 15px 10px;
  }
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(3, 107, 133);
  }
}


/* 820 */


@media screen and  (width: 820px) {
  .menu {
    display: none;
    position: absolute;
    left: 0;
    text-align: center;
    padding: 30px 0;
    margin-left: 80px;
    font-size: 22px;
    line-height: 10px;
  }
  .menu li:hover {
    display: inline-block;
    background-color: #4c9e9e;
    transition: 0.3s ease;
  }
  .menu li + li {
    margin-top: 10px;
    /* margin-left: -300px; */
  }
  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }
  .hamburger {
    position: absolute;
    display: block;
    margin-right:450px;
    font-size: 35px;

    z-index: 10;
     }
   .flex-container .para #img{
      width: 60px;
    }

  .logo {
    font-size: 35px;
    font-weight: bold;
    color: rgb(20, 20, 20);
    padding-right: 15px;
    padding-left: 20px;
    padding-top: 10px;
  }
  .flex-container {
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 760px;
    overflow: scroll;
  }

  .flex-container .para {
    /* padding: 10px 20px; */
    /* width: 60%; */
  }
  .para h2 {
    position: absolute;
    line-height: 26px;
    margin-top: 180px;
    margin-left: 200px;
    font-size: 12px;
  }
  .para h2 span {
    font-size: 15px;
  }
  .para .back {
    margin-left: 640px;
  }
  .para p {
    margin-top: 45px;
  }
  /* comments */
  .flex-container #list-comment {
    width: 90%;
  }
  .flex-container .container {
    width: 90%;
    border: 2px solid #333;
    padding: 15px 10px;
  }
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(3, 107, 133);
  }
}
