@import url("https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,600&family=Roboto+Slab:wght@300;400;500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}*
 body{
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

    background-color: #135780;
  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);

  }

  a {
    text-decoration: none;
  }
  li {
    list-style: none;
  }
  
  /* navigation bars */
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    color: #fff;
    position: fixed; 
    top: 0; 
    width: 100%; 

    background-color: #135780;
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);

  }
  .nav-links a {
    color: #fff;
  }
  /* logo*/
  .logo {
    font-size: 32px;
    font-weight: bold;
    color: rgb(20, 20, 20);
    padding-right: 15px;
    padding-left: 100px;
    padding-top: 25px;
  
    /* Some animation to the header logo */
    text-shadow: 0 0 50px rgb(0, 223, 252), 0 0 50px rgb(10, 12, 161),
      0 0 50px rgb(185, 23, 104), 0 0 50px lawngreen, 0 0 50px rgb(252, 0, 55);
    animation: animate 5s linear infinite;
  
    @keyframes: animate {
      0% {
        filter: hue-rotate(0deg);
      }
      filter: hue-rotate(360deg);
    }
  }
  /* navitation menu */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
  }
  .menu li:hover {
    background-color: #1a7272;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  .menu li {
    padding: 5px 14px;
  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
  }
.row h3{
  font-size: 25px;
  color: white;
  text-align: center;
  justify-content: center;
}
.row {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    width: 90%;
    
  }
  .column {
    flex: 60%;
    padding: 20px;

    border-radius: 25px;
    background-color: #4b87ac;
    padding: 20px;
    width: 90%;
    margin-left: 90px;
    height: auto;
    /* margin: 15px; */
  
  }
 
  @media (max-width: 1200px) {
    .title {
      flex-direction: column;
    }
  
    .title .right-side {
      width: 100%;
      padding: 50px 0px 30px 0px;
    }
    .main-container {
      flex-direction: column-reverse;
    }
  
    .main-container .right-side .top {
      width: 100%;
    }
    .title .right-side p {
      width: 90%;
    }
    .main-container .right-side {
      width: 100%;
    }
    .main-container .right-side form {
      width: 90%;
    }
    .main-container .right-side .top input {
      width: 49%;
    }
    .row{
      margin-top: 200px;
      margin-left: -55px;
    }
    .row h3{
      font-size: 12px;
     
    }
  }
  
  @media screen and (max-width: 768px) {
    .menu {
      /* display: none; */
      /* position: absolute; */
      /* right: -150px; */
      /* left: 0; */
      /* text-align: center; */
      /* padding: 16px 0; */
      /* margin-left: -60px; */

      display: none;
      position: absolute;
      background-color: teal;
      right: 0;
      left: 0;
      text-align: center;
      padding: 16px 0;
    }
    .menu li:hover {
      display: inline-block;
      transition: 0.3s ease;
    }
    .menu li + li {
      margin-top: 12px;
    }
    input[type="checkbox"]:checked ~ .menu {
      display: block;
    }
    .hamburger {
      display: block;
    }
  }
  @media (max-width: 420px) {
    .container .form .inputfield {
      flex-direction: column;
      align-items: flex-start;
    }
    .container .form .inputfield label {
      margin-bottom: 5px;
    }
    .container .form .inputfield.terms {
      flex-direction: row;
    }
  }
  